@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import "initial_menu";
html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:100%;
    display: grid;
}
* {
    font-family: "Lato", "Roboto", sans-serif !important;
    /*word-break: break-word;*/
    color: black;
}
#root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 93.5%);
    overflow-y: auto;
    overflow-x: hidden;
    
}
.back_button_svg{
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.back_button_svg:hover{
    transform: scale(1.4);
}
.flex_wrap{
    flex-wrap: wrap;
}
.app_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.text_align_center{
    text-align: center;
}
#canvas{
    overflow: auto;
    border: 1px solid black;
    border-radius: 11px;
    
    background-color: white;
}
#create_graph_btn{
    font-size: $tier_four_font_size;
}
#mouse_tracker{
    position: fixed;
    top: 10px;
    right: 10px;
    span{
        font-size: $tier_three_font_size;
    }
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.cursor_default{
    cursor: default;
}
#algorithms_menu{
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    
}
.results{
    
}
.kruskals_items{
    margin-left: 5px;
    margin-right: 5px;
}